body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.top-section-h1{
    color: antiquewhite;
    font-size: 50px;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 40px;
}
.tanim-span {
    color: #ce1111;
}
.top-section{
    display: flex;
    margin-bottom: 100px;
    background-color: black;
}
.top-adjust {
    width: 50%;
    padding: 5%;
}
.top-section-img {
    width: 80%;
}
.top-section-btn {
    text-decoration: none;
    background-image: linear-gradient(rgb(220, 1, 1), rgb(131, 5, 5));
    color: antiquewhite;
    padding: 10px 40px;
    border-radius: 5px;
}
.middle-section {
    display: flex;
}

.dream {
    color: black;
    font-size: 50px;
}

.middle-adjust {
    width: 50%;
}
.middle-section-img{
    margin-left: 9%;
}

.middle-section-btn {
    text-decoration: none;
    background-image: linear-gradient(black, black);
    color: antiquewhite;
    padding: 10px 40px;
    font-size: 25px;
    border-radius: 6px;
}
.experience-container {
    display: flex;
}
.experience-adjust{
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 150px;
    padding: 15px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    border-left: 2px solid goldenrod;

}
footer p{text-align: center;}
